{{#each cards}}
  <div class='card' data-id='{{id}}'>
    <img src='{{imageUrl}}' alt='Event img' ></img>
    <div class='title'>{{title}}</div>
    <div class='time'>{{time}}</div>
    <div class='place'>{{country}}</div>
  </div>
{{/each}}