{{#with modal}}
  <div class='modal'>
    <div class='container modal-container'>
      <div class='close modal-close'></div>
      <div class='info'>
        <div class='banner'>
          <img src='{{banner}}' alt='event' />
        </div>
        <div class='description'>
          <div class='block'>
            <div class='title'>INFO</div>
            <div class='text'>{{info}}</div>
          </div>
          <div class='block'>
            <div class='title'>WHEN</div>
            <div class='text'>{{date}}</div>
            <div class='text'>{{time}}</div>
          </div>
          <div class='block'>
            <div class='title'>WHERE</div>
            <div class='text'>{{where}}</div>
          </div>
          <div class='block'>
            <div class='title'>WHO</div>
            <div class='text'>{{who}}</div>
          </div>
          <div class='block prices'>
            <div class='title'>PRICES</div>
            <div class='text'>STANDART {{price1}}</div>
            <button>Buy tickets</button>
            <div class='text'>VIP {{price2}}</div>
            <button>Buy tickets</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/with}}